/* Responsive */


/*  MAX-WIDTH 900PX */
@media (max-width: 900px) {

    section {
        margin-left: 15px;
    }

    .banner img {
        margin-right: -43px;
    }

    .banner-cards {
        min-width: 125%;
    }

    .card {
        margin-right: 10px;
    }

    .banner-cards img {
        max-width: 100%;
    }

    .panel {
        flex-wrap: wrap;
        margin: auto;
        width: 90%;
        height: 100%;
        padding-bottom: 160px;
    }

    .second-panel {
        padding-bottom: 280px;
    }

    .right-panel {
        height: 410px;
        margin: 100px 0 0 0;
    }

    .left-panel {
        margin-right: 0;
    }

    .prizes-bottom-text {
        max-width: 100%;
        margin: 30px 10px 25px 10px;
    }

    .plus {
        top: 100%;
        left: 39%;
    }

    .plus img {
        width: 85px;
    }

    .dark-orange {
        margin-left: -20px;
    }

    .panel-text.second {
        margin-top: -12px;
    }

    .slider,
    .progress-bar {
        width: 109%;
    }

    .slider-inner {
        width: 2000px;
    }

    .slider-section {
        margin-right: 7px;
    }

    .item img {
        width: 180px
    }

    .accordion ul {
        width: 90%;
        margin-right: -35px;
    }

    .checkbox-text {
        width: 90%;
    }

    .checkbox-text h2 {
        font-size: 15px;
    }

    .accordion ul li .arrow {
        right: 13%;
    }

    .accordion ul li p {
        width: 82%;
        height: 100px;
        font-size: 14px;
    }

    .footer {
        padding: 20px 10px;
    }

}

/* END */

/* MAX-WIDTH 640PX */
@media (max-width: 640px) {
    .firstpage {
        margin: auto;
        max-width: 610px;
    }

    .firstpage h1 {
        font-size: 16px;
        padding: 0;
    }

    .firstpage h3 {
        font-size: 14px;
        padding: 0;
    }

    .banner-title {
        padding: 0 0 0 10px;
    }

    .banner-cards {
        width: 125%;
    }

    .card {
        margin-right: 10px;
    }

    .banner-cards img {
        max-width: 100%;
    }

    .card-text h5 {
        font-size: 16px;
    }

    .card-text p {
        font-size: 17px;
    }

    .week-icon h5 {
        font-size: 12px;
    }

    .popup {
        max-width: 90%;
    }

    .popup-texts p {
        width: 296px;
        margin-top: 0px;
    }

    .prizes-title {
        font-size: 14px;
    }

    .date-tabs ul li {
        width: 110px;
        text-align: center;
        list-style: none;
        font-size: 15px;
        color: #ffffff;
        cursor: pointer;
    }

    .date-tabs ul li.active {
        line-height: 40px;
        height: 100%;
        border-radius: 8px 8px 0 0;
        background-color: #2e9ea1;
    }

    .panel {
        width: 97%;
    }

    .accordion ul {
        margin-right: -27px;
    }

    .right-panel {
        margin-left: 0;
        margin-top: 100px;
    }

    .left-panel {
        margin-right: 0;
    }

    .dark-orange {
        margin-left: -20px;
    }

    .slider-wrap-text {
        font-size: 14px;
    }

    .checkbox-text h2 {
        width: 290px;
        font-size: 14px;
    }

    .arrow {
        right: -20%;
    }

    .slider-wrap-text {
        font-size: 12px;
    }

    .accordion ul li p {
        width: 75%;
        height: 130px;
        font-size: 12px;
    }

    .footer {
        padding: 20px 10px;
    }
}
/* END */

/* MAX-WIDTH 480PX */
@media (max-width: 480px) {

    .banner {
        display: block;
    }

    .banner img {
        width: 41%;
        margin-left: 59%;
    }

    .banner-cards img {
        position: relative;
        margin: 0 15px 0 0;
    }

    .banner-cards {
        min-width: 165%;
    }

    .card {
        margin-right: 10px;
    }

    .banner-cards img {
        max-width: 100%;
    }

    .card-text h5 {
        font-size: 12px;
    }

    .card-text p {
        font-size: 12px;
    }

    .week-icon h5 {
        font-size: 12px;
    }


    .accordion ul {
        margin-right: -10px;
    }

    .date-tabs ul li {
        width: 120px;
        font-size: 11px;
    }

    .date-tabs.active {
        width: 120px;
    }


    .date-tabs ul li {
        width: 80px;
    }

    .tabs.active {
        width: 90px;
    }

    .popup {
        max-width: 345px;
    }

    .popup-texts h3 {
        margin-left: 0;
    }

    .popup-texts p {
        text-align: start;
        letter-spacing: -0.8px;
        width: 230px;
        margin-left: 0px;
    }


    .right-panel {
        margin-left: 0;
    }

    .left-panel {
        margin-right: 0;
    }

    .table {
        width: 310px;
    }

    .prizes-title {
        font-size: 12px;
    }

    .table-title h1 {
        font-size: 12px;
    }

    .cyan {
        width: 155px;
    }

    .orange {
        width: 155px;
    }


    .dark-cyan {
        width: 90px;
    }

    .dark-orange {
        width: 70px;
        margin-left: -10px;
    }

    .rank-tr td {
        font-size: 10px;
    }

    .panel {
        width: 102%;
    }

    .panel h3 {
        font-size: 14px;
    }

    .panel p {
        font-size: 12px;
    }

    .right-panel {
        margin-top: 114px;
    }

    .panel-text p {
        margin-top: 10px;
    }

    .plus {
        top: 102%;
        left: 41%;
    }

    .prizes-bottom-text {
        width: 403px;
    }

    .slider-wrap-text {
        font-size: 12px;
    }

    .progress-bar {
        margin-bottom: -15%;
    }

    .checkbox-text h2 {
        width: 200px;
        font-size: 13px;
    }

    .accordion ul li p {
        width: 75%;
        height: 130px;
        font-size: 12px;
    }

    .footer {
        padding: 20px 10px;
    }

    .footer h3 {
        display: none;
    }

    .footer-arrow-button {
        width: 0;
    }

    .arrow-right {
        padding-right: 10px;
    }

    .place-bet {
        width: 140px;
        height: 50px;
    }
}

/* End */