  * {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: sans-serif;
}

.container {
    width: 100%;
    background-color: #141529;
}

.bg-wall {
    margin: auto;
    max-width: 940px;
}

section {
    margin: auto;
    max-width: 895px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    background-color: #2c2d3f;
    border-radius: 13px 13px 0 0;
}

.navbar h3 {
    color: #FFFFFF;
}

.navbar img {
    position: absolute;
    right: 2%;
}

.banner {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
}

.banner-title p {
    width: 93px;
    height: 27px;
    margin: 33px 0;
    text-align: center;
    align-items: center;
    border-radius: 50px;
    background-color: #2c2d3f;
}

.banner-title h1 {
    font-size: 24px;
    padding: 0 70px 15px 0;
}

.banner-title h3 {
    font-size: 16px;
    padding: 15px 130px 35px 0;
}

.bg-banner {
    width: 100%;
}

.banner img {
    height: 100%;
    margin-right: -2.5%;
}

.card {
    margin-top: -8%;
}

.banner-card {
    display: flex;
    flex-direction: row;
}

.banner-card img {
    position: relative;
    margin: 0 15px 0 0;
}

.week-1 {
    position: relative;
    width: 100%;
}

.week-text {
    position: absolute;
    width: 96%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    z-index: 1;
}

.week-text h5 {
    font-size: 12px;
}

.week-text p {
    font-size: 24px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

.week-icon {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.week-icon img {
    width: 10px;
}

.dark {
    opacity: 0.5;
}

.date-title  {
    width: 70%;
    margin: auto;
    padding: 37px 0 37px 0;
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
}

.date ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 40px;
    border-radius: 8px 8px 0 0 ;
    background-color: #1a293b;
}

.date ul li {
    margin-right: 40px;
    list-style: none;
    font-size: 15px;
    color: #FFFFFF;
    
}

.date ul li.active {
    line-height: 40px;
    padding: 0 20px 0 20px;
    height: 100%;
    border-radius: 8px 8px 0 0 ;
    background-color: #2e9ea1;
}

.panel {
    position: relative;
    display: flex;
    justify-content: center;
    width: 940px;
    height: 593px;
    background-color: #192537;
}



.panel h3 {
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
}

.panel p {
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.8;
}

.panel-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    width: 450px;
}

.panel-text {
    height: 90px;
}

.table {
    margin: auto;
    width: 415px;
    margin-top: 15px;
    padding-bottom: 27px;
    background-color: #203248;
    border-radius: 13px;
}

.table-title {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.table-title h1 {
    font-size: 15px;
    color: #FFFFFF;
    line-height:18px ;
    text-align: center;
    padding: 4px 14px 7px 11px;
}

.cyan {
    width: 192px;
    height: 18px;
    border-radius: 13px 0;
    background-color: #2e9ea1;
    z-index: 2;
}

.bold {
    display: flex;
    justify-content: flex-end;
    width: 109px;
    margin-left: -42px;
    background-color: #227c7e;
    z-index: 1;
}

table {
    margin: auto;
}

table th {
    font-size: 12px;
    font-weight: lighter;
    color: #FFFFFF;
    opacity: 1;
}


table td {
    height: 36px;
    font-size: 13px;
    text-align: center;
    color: #FFFFFF;
    background-color: #162332;
}

table td:first-child {
    width: 140px;;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

table td:last-child {
    width: 190px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.rank-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 17px 0 8px 0;
    opacity: 0.5;
}

.rank-title th:first-child {
    margin-left: 90px;
}

.rank-title th:last-child {
    flex-grow: 1;
    margin-left: -22px;
}

.margin {
    display: block;
    margin: 5px 50px;
}

.plus {
    position: absolute;
    top: 50%;
    left: 43%;
    z-index: 2;
}

.bottom-text {
    position: absolute;
    bottom: 2%;
    width: 499px;
}

.mark {
    position: absolute;
    top: 1%;
    right: 0%;

}

.mark .hover-box {
    visibility: hidden;
    width: 245px;
    height: 109px;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 15px;
    padding: 5px 0;
    position: absolute;
    top: 120%;
    right: -70%;
    z-index: 1111;
}

.mark:hover .hover-box {
    visibility: visible;
}

.hover-box p {
    padding: 13px 16px;
    color: #000000;
}

.tringle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    transform: rotate(47deg);
    right: 10%;
    top: -3%;
}
